body {
  margin: 0;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  font-family: Arial, sans-serif;
  color: white;
  overflow: hidden;
}

/* CANVAS API PALING BELAKANG */
#fireworks {
  position: fixed;
  inset: 0;
  z-index: 0;
}

/* KONTEN DI DEPAN */
.container {
  position: relative;
  z-index: 2;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* FOTO */
#slide {
  width: 300px;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.4);
  transition: opacity 0.6s ease;
}

/* CAPTION */
#caption {
  margin-top: 15px;
  font-size: 18px;
  white-space: pre-line;
}

/* BUTTON */
.btn {
  margin-top: 20px;
}

.btn button {
  padding: 10px 18px;
  font-size: 20px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

/* HALAMAN AKHIR */
#ending {
  display: none;
  padding: 30px;
}

#ending h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

#ending p {
  font-size: 18px;
  line-height: 1.6;
}
